# <span style="font-size: 20pt; font-family: Montserrat, sans-serif; color: rgb(92, 148, 206); background-color: rgb(255, 255, 255); font-weight: 700; font-variant-east-asian: normal; vertical-align: baseline; white-space: pre-wrap;">Graded Assignment 3: 9 to 5</span>

  

<span style="font-size: 10pt; font-family: &quot;Times New Roman&quot;; color: rgb(102, 102, 102); background-color: rgb(255, 255, 255); font-variant-east-asian: normal; vertical-align: baseline; white-space: pre-wrap;">Time to show off your SQL skills! For each question, copy the SQL query you used and make note of the answer.</span>

  

## <span style="font-size: 12pt; font-family: Montserrat, sans-serif; color: rgb(53, 74, 95); background-color: rgb(255, 255, 255); font-weight: 700; font-variant-east-asian: normal; vertical-align: baseline; white-space: pre-wrap;">The Dataset</span>

<span style="font-size: 10pt; font-family: &quot;Times New Roman&quot;; color: rgb(102, 102, 102); background-color: rgb(255, 255, 255); font-variant-east-asian: normal; vertical-align: baseline; white-space: pre-wrap;">For this assignment, you will be using the Bureau of Labor Statistics (BLS) Current Employment Survey (CES) results which can be found on</span> [<span style="font-size: 10pt; font-family: &quot;Times New Roman&quot;; color: rgb(17, 85, 204); background-color: rgb(255, 255, 255); font-variant-east-asian: normal; text-decoration-line: underline; vertical-align: baseline; white-space: pre-wrap;">Kaggle</span>](https://www.kaggle.com/bls/employment)<span style="font-size: 10pt; font-family: &quot;Times New Roman&quot;; color: rgb(102, 102, 102); background-color: rgb(255, 255, 255); font-variant-east-asian: normal; vertical-align: baseline; white-space: pre-wrap;">.</span>

  

## <span style="font-size: 12pt; font-family: Montserrat, sans-serif; color: rgb(53, 74, 95); background-color: rgb(255, 255, 255); font-weight: 700; font-variant-east-asian: normal; vertical-align: baseline; white-space: pre-wrap;">Business Issue</span>

<span style="font-size: 10pt; font-family: &quot;Times New Roman&quot;; color: rgb(102, 102, 102); background-color: rgb(255, 255, 255); font-variant-east-asian: normal; vertical-align: baseline; white-space: pre-wrap;">You are working for the Bureau of Labor Statistics with the United States government and have been approached by your boss with an important meeting request. You have been asked by your supervisor to meet with Dolly Parton whose nonprofit is looking to shed light on the state of employment in the United States. As part of the 9 to 5 project, their research is focused on production and nonsupervisory employees and how those employees fare compared to all employees in the United States. While the data the BLS collects from the CES is publicly available, Dolly Parton and her colleagues need your assistance navigating the thousands of rows in each table in LaborStatisticsDB.</span>

  

## <span style="font-size: 12pt; font-family: Montserrat, sans-serif; color: rgb(53, 74, 95); background-color: rgb(255, 255, 255); font-weight: 700; font-variant-east-asian: normal; vertical-align: baseline; white-space: pre-wrap;">About the Dataset</span>

<span style="font-size: 10pt; font-family: &quot;Times New Roman&quot;; color: rgb(102, 102, 102); background-color: rgb(255, 255, 255); font-variant-east-asian: normal; vertical-align: baseline; white-space: pre-wrap;">This dataset comes directly from the Bureau of Labor Statistics’ Current Employment Survey (CES). Here are some things you need to know:</span>

1. <span style="font-size: 10pt; background-color: rgb(255, 255, 255); font-variant-east-asian: normal; vertical-align: baseline; white-space: pre-wrap;">The industry table contains an NAICS code. This is different from the industry code. NAICS stands for North American Industry Classification System.</span>
    
2. <span style="font-size: 10pt; background-color: rgb(255, 255, 255); font-variant-east-asian: normal; vertical-align: baseline; white-space: pre-wrap;">Series ID is composed of multiple different codes. CES stands for Current Employment Survey, the name of the survey which collected the data. The industry code as specified by the BLS and the data type code as specified in the datatype table.</span>
    

  

## <span style="font-size: 12pt; font-family: Montserrat, sans-serif; color: rgb(53, 74, 95); background-color: rgb(255, 255, 255); font-weight: 700; font-variant-east-asian: normal; vertical-align: baseline; white-space: pre-wrap;">Set Up</span>

<span style="font-size: 10pt; font-family: &quot;Times New Roman&quot;; color: rgb(102, 102, 102); background-color: rgb(255, 255, 255); font-variant-east-asian: normal; vertical-align: baseline; white-space: pre-wrap;">To connect to the database, use the same connection info used during the SQL lessons.&nbsp;</span> 

<span style="font-size: 10pt; font-family: &quot;Times New Roman&quot;; color: rgb(102, 102, 102); background-color: rgb(255, 255, 255); font-variant-east-asian: normal; vertical-align: baseline; white-space: pre-wrap;">For the assignment, we will be using the LaborStatisticsDB database.</span>

  

## <span style="font-size: 12pt; font-family: Montserrat, sans-serif; color: rgb(53, 74, 95); background-color: rgb(255, 255, 255); font-weight: 700; font-variant-east-asian: normal; vertical-align: baseline; white-space: pre-wrap;">Database Exploration</span>

<span style="font-size: 10pt; font-family: &quot;Times New Roman&quot;; color: rgb(102, 102, 102); background-color: rgb(255, 255, 255); font-variant-east-asian: normal; vertical-align: baseline; white-space: pre-wrap;">To start with, let’s get to know the database further.</span>

1. <span style="background-color: rgb(255, 255, 255); color: rgb(102, 102, 102); font-family: &quot;Times New Roman&quot;; font-size: 10pt; white-space: pre-wrap;">Use this space to make note of each table in the database, the columns within each table, each column’s data type, and how the tables are connected. You can write this down or draw a diagram. Whatever method helps you get an understanding of what is going on with LaborStatisticsDB.</span>

To add a photo, diagram or document to your file, drop the file into the folder that holds this notebook.  Use the the link button to the right of the  \</\> symbol in the gray part of this cell, the link is just the name of your file.

2. <span style="background-color: rgb(255, 255, 255); color: rgb(102, 102, 102); font-family: Arvo, serif; font-size: 10pt; white-space: pre-wrap;">What is the datatype for women employees?</span>

In [5]:
SELECT *
FROM LaborStatisticsDB.dbo.datatype
where data_type_text like '%women employees%'

data_type_code,data_type_text
10,WOMEN EMPLOYEES
39,WOMEN EMPLOYEES-TO-ALL EMPLOYEES RATIO

3. <span style="background-color: rgb(255, 255, 255); font-size: 10pt; white-space: pre-wrap; color: rgb(102, 102, 102); font-family: Arvo, serif;">What is the series id for&nbsp; women employees in the commercial banking industry in the financial activities supersector?</span>

In [20]:

SELECT *--series_id, series_title
FROM LaborStatisticsDB.dbo.series
WHERE series_title = 'women employees' and industry_code=55522110


SELECT *--industry_code, industry_name
FROM LaborStatisticsDB.dbo.industry
WHERE industry_name = 'Commercial Banking' and industry_code=55522110

SELECT *
FROM LaborStatisticsDB.dbo.supersector
WHERE supersector_name = 'Financial Activities'

series_id,supersector_code,industry_code,data_type_code,seasonal,series_title
CES5552211010,55,55522110,10,S,Women employees
CEU5552211010,55,55522110,10,U,Women employees

id,industry_code,naics_code,publishing_status,industry_name,display_level,selectable,sort_sequence
563,55522110,52211,A,Commercial banking,6,T,564

supersector_code,supersector_name
55,Financial activities

## <span style="font-size: 12pt; font-family: Montserrat, sans-serif; color: rgb(53, 74, 95); background-color: rgb(255, 255, 255); font-weight: 700; font-variant-numeric: normal; font-variant-east-asian: normal; vertical-align: baseline; white-space: pre-wrap;">Join in on the Fun</span>

<span style="font-size: 10pt; font-family: Arvo, serif; color: rgb(102, 102, 102); background-color: rgb(255, 255, 255); font-variant-numeric: normal; font-variant-east-asian: normal; vertical-align: baseline; white-space: pre-wrap;">Time to start joining! You can choose the type of join you use, just make sure to make a&nbsp; note!</span>

1. <span style="background-color: rgb(255, 255, 255); font-size: 10pt; white-space: pre-wrap; color: rgb(102, 102, 102); font-family: Arvo, serif;">Join&nbsp; annual_2016 with series on series_id. We only want the data in the annual_2016 table to be included in the result.</span>

In [24]:
SELECT top 10 p.*
FROM  LaborStatisticsDB.dbo.annual_2016 as p
JOIN LaborStatisticsDB.dbo.series as s
ON p.series_id = s.series_id

id,series_id,year,period,value,footnote_codes,original_file
8755,CEU0000000001,2016,M13,144306,NULL,ce.data.0.AllCESSeries.csv
22220,CEU0000000001,2016,M13,144306,NULL,ce.data.00a.TotalNonfarm.Employment.csv
8756,CEU0000000010,2016,M13,71492,NULL,ce.data.0.AllCESSeries.csv
22221,CEU0000000010,2016,M13,71492,NULL,ce.data.00a.TotalNonfarm.Employment.csv
6281,CEU0500000001,2016,M13,122083,NULL,ce.data.05a.TotalPrivate.Employment.csv
8757,CEU0500000001,2016,M13,122083,NULL,ce.data.0.AllCESSeries.csv
7954,CEU0500000002,2016,M13,34.4,NULL,ce.data.05b.TotalPrivate.AllEmployeeHoursAndEarnings.csv
8758,CEU0500000002,2016,M13,34.4,NULL,ce.data.0.AllCESSeries.csv
7955,CEU0500000003,2016,M13,25.65,NULL,ce.data.05b.TotalPrivate.AllEmployeeHoursAndEarnings.csv
8759,CEU0500000003,2016,M13,25.65,NULL,ce.data.0.AllCESSeries.csv

2. <span style="background-color: rgb(255, 255, 255); font-size: 10pt; white-space: pre-wrap; color: rgb(102, 102, 102); font-family: Arvo, serif;">Join series and datatype on data_type_code</span>

In [22]:
SELECT top 10 *
FROM LaborStatisticsDB.dbo.series as s
INNER JOIN LaborStatisticsDB.dbo.datatype as d
ON s.data_type_code = d.data_type_code

series_id,supersector_code,industry_code,data_type_code,seasonal,series_title,id,industry_code,naics_code,publishing_status,industry_name,display_level,selectable,sort_sequence
CES0000000001,0,00000000,1,S,All employees,0,0,-,B,Total nonfarm,0,T,1
CES0000000010,0,00000000,10,S,Women employees,0,0,-,B,Total nonfarm,0,T,1
CES0000000025,0,00000000,25,S,All employees,0,0,-,B,Total nonfarm,0,T,1
CES0000000026,0,00000000,26,S,All employees,0,0,-,B,Total nonfarm,0,T,1
CES0500000001,5,05000000,1,S,All employees,1,5000000,-,A,Total private,1,T,2
CES0500000002,5,05000000,2,S,Average weekly hours of all employees,1,5000000,-,A,Total private,1,T,2
CES0500000003,5,05000000,3,S,Average hourly earnings of all employees,1,5000000,-,A,Total private,1,T,2
CES0500000006,5,05000000,6,S,Production and nonsupervisory employees,1,5000000,-,A,Total private,1,T,2
CES0500000007,5,05000000,7,S,Average weekly hours of production and nonsupervisory employees,1,5000000,-,A,Total private,1,T,2
CES0500000008,5,05000000,8,S,Average hourly earnings of production and nonsupervisory employees,1,5000000,-,A,Total private,1,T,2

3. <span style="background-color: rgb(255, 255, 255); font-size: 10pt; white-space: pre-wrap; color: rgb(102, 102, 102); font-family: Arvo, serif;">Join series and industry on industry_code</span>

In [ ]:
SELECT top 10 *
FROM LaborStatisticsDB.dbo.series as s
JOIN LaborStatisticsDB.dbo.industry as i
ON s.industry_code = i.industry_code

## <span style="font-size: 12pt; font-family: Montserrat, sans-serif; color: rgb(53, 74, 95); background-color: rgb(255, 255, 255); font-weight: 700; font-variant-numeric: normal; font-variant-east-asian: normal; vertical-align: baseline; white-space: pre-wrap;">Aggregate Your Friends and Code some SQL</span>

<span style="font-size: 10pt; font-family: Arvo, serif; color: rgb(102, 102, 102); background-color: rgb(255, 255, 255); font-variant-numeric: normal; font-variant-east-asian: normal; vertical-align: baseline; white-space: pre-wrap;">Put together the following:</span>

1. <span style="background-color: rgb(255, 255, 255); font-size: 10pt; white-space: pre-wrap; color: rgb(102, 102, 102); font-family: Arvo, serif;">How many employees were reported in 2016 in all industries? Round to the nearest whole number.&nbsp; No chopping people into little bits, please.</span>

In [25]:
SELECT ROUND(count(p.value), 0) AS total_employees
FROM LaborStatisticsDB.dbo.annual_2016 AS p
INNER JOIN LaborStatisticsDB.dbo.series AS s
ON p.series_id = s.series_id
WHERE s.data_type_code = '1' AND p.year = '2016'

total_employees
1830

2. <span style="background-color: rgb(255, 255, 255); font-size: 10pt; white-space: pre-wrap; color: rgb(102, 102, 102); font-family: Arvo, serif;">How many women employees were reported in 2016 in all industries? Round to the nearest whole number.&nbsp;</span>

In [21]:
SELECT ROUND(count(p.value), 0) AS women_empl
FROM LaborStatisticsDB.dbo.annual_2016 AS p
INNER JOIN LaborStatisticsDB.dbo.series AS s
ON p.series_id = s.series_id
WHERE s.data_type_code = '10' AND p.year = '2016'

women_empl
1372

3. <span style="background-color: rgb(255, 255, 255); font-size: 10pt; white-space: pre-wrap; color: rgb(102, 102, 102); font-family: Arvo, serif;">How many production/nonsupervisory employees were reported in 2016? Round to the nearest whole number.&nbsp;</span>

In [22]:
SELECT ROUND(count(p.value), 0) AS  production_nonsupervisory_emp
FROM LaborStatisticsDB.dbo.annual_2016 AS p
INNER JOIN LaborStatisticsDB.dbo.series AS s
ON p.series_id = s.series_id
WHERE s.data_type_code = '6' AND p.year = '2016'

production_nonsupervisory_employees
1102

4. <span style="background-color: rgb(255, 255, 255); font-size: 10pt; white-space: pre-wrap; color: rgb(102, 102, 102); font-family: Arvo, serif;">In January 2017, what is the average weekly hours worked by production and nonsupervisory employees across all industries?</span>

In [30]:
SELECT ROUND(AVG(p.value), 0) AS average_weekly_hours
FROM LaborStatisticsDB.dbo.january_2017 AS p
INNER JOIN LaborStatisticsDB.dbo.series AS s
ON p.series_id = s.series_id
WHERE s.data_type_code = '7'

average_weekly_hours
36

id,series_id,year,period,value,footnote_codes,original_file,series_id,supersector_code,industry_code,data_type_code,seasonal,series_title
739,CES5000000006,2017,M01,2220,NULL,ce.data.50a.Information.Employment.csv,CES5000000006,50,50000000,6,S,Production and nonsupervisory employees
742,CES5051100006,2017,M01,578.8,NULL,ce.data.50a.Information.Employment.csv,CES5051100006,50,50511000,6,S,Production and nonsupervisory employees
745,CES5051110006,2017,M01,293.2,NULL,ce.data.50a.Information.Employment.csv,CES5051110006,50,50511100,6,S,Production and nonsupervisory employees
748,CES5051111006,2017,M01,143.1,NULL,ce.data.50a.Information.Employment.csv,CES5051111006,50,50511110,6,S,Production and nonsupervisory employees
751,CES5051112006,2017,M01,74.2,NULL,ce.data.50a.Information.Employment.csv,CES5051112006,50,50511120,6,S,Production and nonsupervisory employees
757,CES5051120006,2017,M01,285.5,NULL,ce.data.50a.Information.Employment.csv,CES5051120006,50,50511200,6,S,Production and nonsupervisory employees
760,CES5051200006,2017,M01,319.4,NULL,ce.data.50a.Information.Employment.csv,CES5051200006,50,50512000,6,S,Production and nonsupervisory employees
765,CES5051500006,2017,M01,213.2,NULL,ce.data.50a.Information.Employment.csv,CES5051500006,50,50515000,6,S,Production and nonsupervisory employees
769,CES5051511006,2017,M01,69.6,NULL,ce.data.50a.Information.Employment.csv,CES5051511006,50,50515110,6,S,Production and nonsupervisory employees
774,CES5051700006,2017,M01,651,NULL,ce.data.50a.Information.Employment.csv,CES5051700006,50,50517000,6,S,Production and nonsupervisory employees

5. <span style="background-color: rgb(255, 255, 255); font-size: 10pt; white-space: pre-wrap; color: rgb(102, 102, 102); font-family: Arvo, serif;">What is the total weekly payroll for production and nonsupervisory employees across all industries in January 2017? Round to the nearest penny, please.</span>

In [35]:
SELECT ROUND(SUM(p.value), 2) AS total_weekly_payroll
FROM LaborStatisticsDB.dbo.january_2017 AS p
INNER JOIN LaborStatisticsDB.dbo.series AS s
ON p.series_id = s.series_id
WHERE s.data_type_code = '82' AND  p.year = '2017' AND p.period = 'M01'

total_weekly_payroll
1838753220

series_title,data_type_code
Average hourly earnings of all employees,13
All employees,1
Diffusion indexes,22
Average weekly overtime hours of production and nonsupervisory employees,9
Indexes of aggregate weekly payrolls of all employees,17
Average hourly earnings of production and nonsupervisory employees,33
Average weekly hours of all employees,2
Average weekly earnings of all employees,11
Indexes of aggregate weekly hours of production and nonsupervisory employees,34
Average weekly earnings of all employees,12
Aggregate weekly hours of production and nonsupervisory employees,81
Production and nonsupervisory employees,6
Average hourly earnings of production and nonsupervisory employees,8
Diffusion indexes,23
Aggregate weekly payrolls of production and nonsupervisory employees,82
Women employees,10
Average weekly hours of production and nonsupervisory employees,7
Aggregate weekly hours of all employees,56
Average hourly earnings of production and nonsupervisory employees,32
Average hourly earnings of all employees,3
Indexes of aggregate weekly payrolls of production and nonsupervisory employees,35
Average weekly earnings of production and nonsupervisory employees,30
Aggregate weekly payrolls of all employees,57
Average weekly overtime hours of all employees,4
Average hourly earnings of all employees,15
Diffusion indexes,21
All employees,26
Diffusion indexes,24
Indexes of aggregate weekly hours of all employees,16
Average weekly earnings of production and nonsupervisory employees,31
Aggregate weekly overtime hours of all employees,58
Aggregate weekly overtime hours of production and nonsupervisory employees,83

6. <span style="background-color: rgb(255, 255, 255); font-size: 10pt; white-space: pre-wrap; color: rgb(102, 102, 102); font-family: Arvo, serif;">In January 2017, which industry was the average weekly hours worked by production and nonsupervisory employees the highest? Which industry was the lowest?</span>

In [38]:
--high
SELECT top 10 i.industry_name, AVG(j.value) AS avg_weekly_hours
FROM LaborStatisticsDB.dbo.january_2017 AS j
JOIN LaborStatisticsDB.dbo.series AS s 
ON j.series_id = s.series_id
JOIN LaborStatisticsDB.dbo.industry AS i
ON s.industry_code = i.industry_code
WHERE s.data_type_code = '7'
AND j.year = '2017'
GROUP BY i.industry_name
ORDER BY avg_weekly_hours DESC

--low
SELECT top 10 i.industry_name, AVG(j.value) AS avg_weekly_hours
FROM LaborStatisticsDB.dbo.january_2017 AS j
JOIN LaborStatisticsDB.dbo.series AS s 
ON j.series_id = s.series_id
JOIN LaborStatisticsDB.dbo.industry AS i
ON s.industry_code = i.industry_code
WHERE s.data_type_code = '7' AND j.year = '2017'
GROUP BY i.industry_name
ORDER BY avg_weekly_hours ASC

industry_name,avg_weekly_hours
Motor vehicle power train components,49.6
Support activities for mining,47.2
Support activities for oil and gas operations,46.7
Motor vehicle metal stamping,46.699999999999996
Coal mining,46.6
Oil and gas pipeline construction,46.1
Mining,46.025
Boilers,45.7
Crushed and broken limestone mining,45.7
Mining and logging,45.65

industry_name,avg_weekly_hours
Fitness and recreational sports centers,16.85
Civic and social organizations,18.3
Family clothing stores,18.8
Women's clothing stores,18.8
Skiing facilities,19.3
Clothing stores,19.6
Bowling centers,20.2
Clothing accessories stores,21.2
Clothing and clothing accessories stores,21.3
Drinking places,21.35

7. <span style="background-color: rgb(255, 255, 255); font-size: 10pt; white-space: pre-wrap; color: rgb(102, 102, 102); font-family: Arvo, serif;">In January 2021, which industry was the total weekly payroll for production and nonsupervisory employees the highest? Which industry was the lowest?</span>

In [47]:
SELECT top 10 i.industry_name, AVG(j.value) AS avg_weekly_payroll
FROM LaborStatisticsDB.dbo.january_2017 AS j
JOIN LaborStatisticsDB.dbo.series AS s 
ON j.series_id = s.series_id
JOIN LaborStatisticsDB.dbo.industry AS i
ON s.industry_code = i.industry_code
WHERE s.data_type_code = '82' AND j.year = '2017'
GROUP BY i.industry_name
ORDER BY avg_weekly_payroll DESC


SELECT top 10 i.industry_name, AVG(j.value) AS avg_weekly_payroll
FROM LaborStatisticsDB.dbo.january_2017 AS j
JOIN LaborStatisticsDB.dbo.series AS s 
ON j.series_id = s.series_id
JOIN LaborStatisticsDB.dbo.industry AS i
ON s.industry_code = i.industry_code
WHERE s.data_type_code = '82' AND j.year = '2017'
GROUP BY i.industry_name
ORDER BY avg_weekly_payroll ASC

industry_name,avg_weekly_payroll
Total private,73986236.5
Private service-providing,60861246.5
Professional and business services,15235537.5
Trade,14791384.5
Education and health services,14790615
Goods-producing,13069382.5
Health care and social assistance,12820494
Professional and technical services,8898856.5
Manufacturing,7451841.5
Financial activities,6398197

industry_name,avg_weekly_payroll
Coin-operated laundries and drycleaners,10112
Clothing accessories stores,12179
Marinas,12980
Seafood product preparation and packaging,13100.5
Bowling centers,14037.5
Crushed and broken limestone mining,15074
Skiing facilities,15102.5
Florists,15185
Land subdivision,15404
RV parks and recreational camps,15449

## <span style="font-size: 12pt; font-family: Montserrat, sans-serif; color: rgb(53, 74, 95); background-color: rgb(255, 255, 255); font-weight: 700; font-variant-numeric: normal; font-variant-east-asian: normal; vertical-align: baseline; white-space: pre-wrap;">Subqueries, Unions, Derived Tables, Oh My!</span>

1. <span style="background-color: rgb(255, 255, 255); font-size: 10pt; white-space: pre-wrap; color: rgb(102, 102, 102); font-family: Arvo, serif;">Write a query that returns the series_id, industry_code, industry_name, and value from the january_2017 table but only if that value is greater than the average value for annual_2016 of data_type_code 82.</span>

In [53]:
SELECT top 10 s.series_id, i.industry_code, i.industry_name, j.[value]
FROM LaborStatisticsDB.dbo.january_2017 AS j
JOIN LaborStatisticsDB.dbo.series AS s 
ON j.series_id = s.series_id
JOIN LaborStatisticsDB.dbo.industry AS i
ON s.industry_code = i.industry_code
WHERE j.value> (select avg(a.value)
     FROM LaborStatisticsDB.dbo.annual_2016 AS a
     JOIN LaborStatisticsDB.dbo.series AS s 
     ON a.series_id = s.series_id
     where s.data_type_code = '82')

series_id,industry_code,industry_name,value
CES0500000056,5000000,Total private,4239112
CES0500000056,5000000,Total private,4239112
CES0500000057,5000000,Total private,110301694
CES0500000057,5000000,Total private,110301694
CES0500000081,5000000,Total private,3412651
CES0500000081,5000000,Total private,3412651
CES0500000082,5000000,Total private,74498171
CES0500000082,5000000,Total private,74498171
CES0600000057,6000000,Goods-producing,21779094
CES0600000057,6000000,Goods-producing,21779094

2. <span style="background-color: rgb(255, 255, 255); font-size: 10pt; white-space: pre-wrap; color: rgb(102, 102, 102); font-family: Arvo, serif;">Create a Union table comparing average weekly earnings&nbsp; of production and nonsupervisory employees between annual_16 and january_17 using the data type 30.&nbsp; Round to the nearest penny.&nbsp; You should have a column for the average earnings and a column for the year, and the period.</span>

In [65]:

SELECT top 5 *
FROM LaborStatisticsDB.dbo.series
where series_title like 'Average weekly earnings of production and nonsupervisory employees' and data_type_code = '30'

SELECT top 10 i.industry_name, round(AVG(j.value), 0) AS avg_weekly_earning
FROM LaborStatisticsDB.dbo.january_2017 AS j
JOIN LaborStatisticsDB.dbo.series AS s 
ON j.series_id = s.series_id
JOIN LaborStatisticsDB.dbo.industry AS i
ON s.industry_code = i.industry_code
JOIN LaborStatisticsDB.dbo.annual_2016 AS p
ON p.series_id = s.series_id
where series_title like 'Average weekly earnings of production and nonsupervisory employees' 
and data_type_code = '30'
and j.year = '2017'
GROUP BY i.industry_name
ORDER BY avg_weekly_earning ASC

series_id,supersector_code,industry_code,data_type_code,seasonal,series_title
CES0500000030,5,05000000,30,S,Average weekly earnings of production and nonsupervisory employees
CES0600000030,6,06000000,30,S,Average weekly earnings of production and nonsupervisory employees
CES0800000030,8,08000000,30,S,Average weekly earnings of production and nonsupervisory employees
CES1000000030,10,10000000,30,S,Average weekly earnings of production and nonsupervisory employees
CES1011330030,10,10113300,30,S,Average weekly earnings of production and nonsupervisory employees

industry_name,avg_weekly_earning
Family clothing stores,235
Bowling centers,237
Women's clothing stores,239
Fitness and recreational sports centers,244
Limited-service restaurants,249
Clothing stores,252
Snack and nonalcoholic beverage bars,260
Cafeterias,270
Gift,270
Civic and social organizations,274

## <span style="font-size:12pt;font-family:Montserrat, sans-serif;color:rgb(53, 74, 95);background-color:rgb(255, 255, 255);font-weight:700;vertical-align:baseline;white-space:pre-wrap;">Summarize Your Results</span>

<span style="font-size:10pt;font-family:Arvo, serif;color:rgb(102, 102, 102);background-color:rgb(255, 255, 255);vertical-align:baseline;white-space:pre-wrap;">With what you know now about the </span> <span style="background-color:rgb(255, 255, 255);color:rgb(102, 102, 102);font-family:&quot;Times New Roman&quot;;font-size:13.3333px;white-space:pre-wrap;">Bureau of Labor Statistics (BLS) Current Employment Survey (CES) results and working with the</span> <span style="color:rgb(102, 102, 102);white-space:pre-wrap;font-family:&quot;Times New Roman&quot;;font-size:13.3333px;">Labor Statistics Database</span><span style="background-color:rgb(255, 255, 255);color:rgb(102, 102, 102);font-family:Arvo, serif;font-size:10pt;white-space:pre-wrap;">, answer the following questions. Note that while this is subjective, you should include relevant data to back up your opinion.</span>

1. <span style="background-color:rgb(255, 255, 255);font-size:10pt;white-space:pre-wrap;color:rgb(102, 102, 102);font-family:Arvo, serif;">During which time period did production and nonsupervisory employees fare better?</span>

Double click here to add your answer

2. <span style="background-color: rgb(255, 255, 255); font-size: 10pt; white-space: pre-wrap; color: rgb(102, 102, 102); font-family: Arvo, serif;">In which industries did production and nonsupervisory employees fare better?</span>

Double click here to add your answer.

3. <span style="font-size: 10pt; font-family: Arvo, serif; color: rgb(102, 102, 102); background-color: rgb(255, 255, 255); font-variant-numeric: normal; font-variant-east-asian: normal; vertical-align: baseline; white-space: pre-wrap;">Now that you have explored the datasets, is there any data or information that you wish you had in this analysis?</span>

Double click here to add your answer.